.App {
  text-align: center;
  height: 100vh;
}

.title {
  padding-top: 1em;
}

.contact {
  background-color: turquoise;
  border-radius: 7px;
  padding: 1em;
}

/* .icon {
  padding-right: 0.5em;
} */

.AlertPopup {
  background-color: turquoise;
  padding: 1em;
  margin: 2em;
  font-size: large;
  color: black;
}